/* 【管理者用】スタッフ別勤怠一覧画面用のCSS */

body {
    max-width: 1512px;
    max-height: 2322px;
    background-color: #F0EFF2;
}

/* フラッシュメッセージ */
.alert-success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

/* ⚪︎⚪︎さんの勤怠〜各日にちの詳細までの全体フォーム */
.attendance-list-form {
    width: 900px;
    height: 2151px;
    margin: 171px auto;
}

/* ⚪︎⚪︎さんの勤怠の「｜」を左寄せ */
.list-title-form {
    padding-left: 0;
    margin-bottom: 47px;
}

/* ⚪︎⚪︎さんの勤怠のフォーム */
.list-title-form li {
    list-style-type: none;
    position: relative;
    padding-left: 21px;
}

/* ⚪︎⚪︎さんの勤怠のフォーム：「・」を「｜」に変更 */
.list-title-form li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 8px;
    height: 40px;
    background-color: black;
}

/* 「｜」と⚪︎⚪︎さんの勤怠のフォーム */
.list-title {
    width: auto;
    height: 36px;
}

/* ⚪︎⚪︎さんの勤怠 */
.staff-attendance-list-title {
    opacity: 1;
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    padding-top: 4px;
    margin-left: 10px;
}

/* 月を選択するフォーム */
.month-list-form {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 900px;
    height: 60px;
    opacity: 1;
    border-radius: 10px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 43px;
}

/* 前月の左矢印と翌月の右矢印 */
.left-arrow-icon,
.right-arrow-icon {
    width: 20px;
    height: 15px;
    opacity: 30%;
    margin: 0 10px 3px 10px;
}

/* 翌月の右矢印 */
.right-arrow-icon {
    transform: scale(-1, 1);
}

/* カレンダーと年/月のフォーム */
.calendar-title {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 25px;
    opacity: 1;
    margin: 0 10px;
}

/* ←前月・翌月→のフォーム */
.previous-month,
.next-month {
    width: auto;
    height: 19px;
    opacity: 1;
    color: #737373;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    margin: 0 10px;
}

/* カレンダーアイコン */
.calendar-icon {
    width: 25px;
    height: 25px;
    opacity: 1;
    margin-top: -3px;
}

/* 選択している月 */
.selected-month {
    width: 123px;
    height: 24px;
    opacity: 1;
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    margin-top: 0;
}

/* 日付・出勤・退勤・休憩・合計・詳細のフォーム */
.attendance-date-list-form {
    background-color: #FFFFFF;
    margin-top: 46px;
    color: #737373;
    width: 900px;
    max-height: 1506px;
    height: auto;
    opacity: 1;
    border-radius: 10px;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}

/* 勤怠一覧の各タイトル */
.attendance-date-list-title-form {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: 3px solid #E1E1E1;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

/* 日付のタイトル */
.date-title {
    width: 120px;
    text-align: left;
    padding-left: 10px;
}

/* 出勤・退勤・休憩・合計のタイトル */
.work-start-title,
.work-end-title,
.breaks-title,
.total-title {
    width: 120px;
    text-align: center;
}

/* 詳細のタイトル */
.detail-title {
    width: 100px;
    text-align: center;
}

/* 勤怠一覧の各日付ごとのフォーム */
.work-date-list-form {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #E1E1E1;
    height: 33px;
    gap: 20px;
    margin: 14px 10px;
    align-items: center;
    justify-content: center;
}

/* 日付のデータ */
.date {
    width: 120px;
    text-align: center;
}

/* 出勤・退勤・休憩・合計のデータ */
.work-start,
.work-end,
.breaks,
.total {
    width: 120px;
    text-align: center;
}

/* 詳細 */
.detail {
    width: 100px;
    text-align: center;
}

/* 詳細 */
.detail-link,
.no-detail {
    color: #000000;
}

/* 各日付・出勤時間・退勤時間・休憩時間・合計時間・詳細を上下中央揃えにする */
.date,
.work-start,
.work-end,
.breaks,
.total,
.detail {
    margin-bottom: 13px;
}

/* 勤怠データがある日の詳細リンク */
.detail-link {
    text-decoration: none;
}

/* 月末最後の日だけボーダーを消す */
.work-date-list-form.last-day {
    border-bottom: none !important;
}

/* CSV出力ボタンのフォーム */
.printing-form {
    margin:60px 0 0 auto;
    width: 184px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CSV出力ボタン */
.printing-button {
    width: 184px;
    height: 50px;
    opacity: 1;
    border-radius: 5px;
    background: #000000;
    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0.15em;
    border: none;
}

/* タブレット（768-850px）対応 */
@media screen and (min-width: 768px) and (max-width: 850px) {
    /* フラッシュメッセージ */
    .alert-success {
        font-size: 13px;
        padding: 6px 17px;
    }

    /* ⚪︎⚪︎さんの勤怠〜各日にちの詳細までの全体のフォーム */
    .attendance-list-form {
        margin: 94px auto;
        width: 495px;
    }

    /* | ⚪︎⚪︎さんの勤怠のフォーム */
    .list-title-form {
        width: 495px;
        height: 20px;
        font-size: 17px;
        margin-bottom: 26px;
    }

    /* 「｜」と⚪︎⚪︎さんの勤怠のフォーム */
    .list-title-form li {
        font-size: 17px;
        height: 20px;
        padding-left: 12px;
    }

    /* ⚪︎⚪︎さんの勤怠の「｜」 */
    .list-title-form li::before {
        width: 4px;
        height: 22px;
    }

    /* ⚪︎⚪︎さんの勤怠 */
    .staff-attendance-list-title {
        font-size: 17px;
        padding-top: 2px;
        margin-left: 3px;
    }

    /* 選択月のフォーム */
    .month-list-form {
        width: 495px;
        height: 33px;
        border-radius: 6px;
        margin-top: 24px;
    }

    /* ←と→ */
    .left-arrow-icon,
    .right-arrow-icon {
        width: 11px;
        height: 8px;
        margin: 0 6px 2px 6px;
    }

    /* 前月と翌月 */
    .previous-month,
    .next-month {
        height: 10px;
        font-size: 9px;
        margin: 0 6px;
    }

    /* カレンダーアイコンと選択された月のフォーム */
    .calendar-title {
        height: 14px;
    }

    /* カレンダーアイコン */
    .calendar-icon {
        width: 14px;
        height: 14px;
        margin-top: -2px;
    }

    /* 選択された月 */
    .selected-month {
        width: 68px;
        height: 13px;
        font-size: 11px;
    }

    /* 日付・出勤・退勤・休憩・合計・詳細のフォーム */
    .attendance-date-list-form {
        width: 495px;
        margin-top: 25px;
        font-size: 8px;
        border-radius: 6px;
    }

    /* 勤怠一覧の各タイトル */
    .attendance-date-list-title-form {
        gap: 11px;
        border-bottom: 2px solid #E1E1E1;
        margin: 0 6px;
    }

    /* 日付のタイトル */
    .date-title {
        width: 66px;
        padding-left: 6px;
    }

    /* 出勤・退勤・休憩・合計のタイトル */
    .work-start-title,
    .work-end-title,
    .breaks-title,
    .total-title {
        width: 66px;
    }

    /* 詳細のタイトル */
    .detail-title {
        width: 55px;
    }

    /* 勤怠一覧の各日付ごとのフォーム */
    .work-date-list-form {
        border-bottom: 2px solid #E1E1E1;
        height: 18px;
        gap: 11px;
        margin: 8px 6px;
        align-items: normal;
    }

    /* 日付のデータ */
    .date {
        width: 67px;
        padding-left: 21px;
    }

    /* 出勤・退勤・休憩・合計 */
    .work-start,
    .work-end,
    .breaks,
    .total {
        width: 67px;
        padding-left: 40px;
    }

    /* CSV出力ボタンフォーム */
    .printing-form {
        margin: 31px 0 0 auto;
        width: 101px;
    }

    /* CSV出力ボタン */
    .printing-button {
        width: 102px;
        height: 27px;
        border-radius: 3px;
        font-size: 11px;
    }
}

/* スマホ（767px以下）対応 */
@media screen and (max-width: 767px) {
    /* フラッシュメッセージ */
    .alert-success {
        font-size: 10px;
        padding: 4px 12px;
    }

    /* ⚪︎⚪︎さんの勤怠〜各日にちの詳細までの全体のフォーム */
    .attendance-list-form {
        margin: 60px auto;
        width: 240px;
    }

    /* | ⚪︎⚪︎さんの勤怠のフォーム */
    .list-title-form {
        width: 240px;
        font-size: 16px;
        margin-bottom: 19px;
    }

    /* 「｜」と⚪︎⚪︎さんの勤怠のフォーム */
    .list-title-form li {
        font-size: 13px;
        padding-left: 8px;
        height: 14px;
    }

    /* ⚪︎⚪︎さんの勤怠の「｜」 */
    .list-title-form li::before {
        width: 3px;
        height: 16px;
    }

    /* ⚪︎⚪︎さんの勤怠 */
    .staff-attendance-list-title {
        font-size: 12px;
        padding-top: 2px;
        margin-left: 3px;
    }

    /* 選択月のフォーム */
    .month-list-form {
        width: 240px;
        height: 21px;
        border-radius: 4px;
        margin-top: 17px;
    }

    /* ←と→ */
    .left-arrow-icon,
    .right-arrow-icon {
        width: 10px;
        height: 8px;
        margin: 0 4px 1px 4px;
    }

    /* 前月と翌月 */
    .previous-month,
    .next-month {
        height: 10px;
        font-size: 9px;
        margin: 0 6px;
    }

    /* カレンダーアイコンと選択された月のフォーム */
    .calendar-title {
        height: 13px;
    }

    /* カレンダーアイコン */
    .calendar-icon {
        width: 10px;
        height: 10px;
        margin-top: -1px;
    }

    /* 選択された月 */
    .selected-month {
        width: 50px;
        height: 8px;
        font-size: 8px;
        margin-top: 1px;
    }

    /* 日付・出勤・退勤・休憩・合計・詳細のフォーム */
    .attendance-date-list-form {
        width: 240px;
        margin-top: 16px;
        font-size: 6px;
        border-radius: 4px;
    }

    /* 勤怠一覧の各タイトル */
    .attendance-date-list-title-form {
        gap: 10px;
        border-bottom: 2px solid #E1E1E1;
        margin: 0 6px;
    }

    /* 日付のタイトル */
    .date-title {
        width: 42px;
        padding-left: 4px;
    }

    /* 出勤・退勤・休憩・合計のタイトル */
    .work-start-title,
    .work-end-title,
    .breaks-title,
    .total-title {
        width: 42px;
    }

    /* 詳細のタイトル */
    .detail-title {
        width: 55px;
    }

    /* 勤怠一覧の各日付ごとのフォーム */
    .work-date-list-form {
        border-bottom: 2px solid #E1E1E1;
        height: 12px;
        gap: 7px;
        margin: 5px 4px;
        align-items: normal;
    }

    /* 日付のデータ */
    .date {
        width: 77px;
    }

    /* 出勤、退勤、休憩、合計のデータ */
    .work-start,
    .work-end,
    .breaks,
    .total {
        width: 67px;
    }

    /* CSV出力ボタンのフォーム */
    .printing-form {
        margin: 12px 0 0 auto;
        width: 53px;
    }

    /* CSV出力ボタン */
    .printing-button {
        width: 53px;
        height: 15px;
        border-radius: 2px;
        font-size: 6px;
    }
}