/* 【管理者用】スタッフ一覧画面用のCSS */

body {
    max-width: 1512px;
    max-height: 2322px;
    background-color: #F0EFF2;
}

/* フラッシュメッセージ */
.alert-success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

/* スタッフ一覧〜各日にちの詳細までの全体フォーム */
.staff-list-page {
    width: 900px;
    height: 2151px;
    margin: 171px auto;
}

/* タイトルの「｜」を左寄せ */
.staff-list-page-title-form {
    padding-left: 0;
}

/* スタッフ一覧画面のフォーム */
.staff-list-page-title {
    list-style-type: none;
    position: relative;
    padding-left: 13px;
}

/* スタッフ一覧画面のフォーム：「・」を「｜」に変更 */
.staff-list-page-title-form li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 8px;
    height: 40px;
    background-color: black;
}

/* 「｜」と「スタッフ一覧」のフォーム */
.staff-list-page-title-form {
    width: 900px;
    height: 36px;
}

/* スタッフ一覧 */
.staff-list-title {
    opacity: 1;
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    padding-top: 4px;
    margin-left: 13px;
}

/* 名前・メールアドレス・詳細のフォーム */
.staff-list-form {
    background-color: #FFFFFF;
    margin-top: 96px;
    color: #737373;
    width: 900px;
    max-height: 1506px;
    height: auto;
    opacity: 1;
    border-radius: 10px;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.15em;
    text-align: center;
    vertical-align: middle;
}

/* スタッフ一覧の各タイトル */
.staff-list-title-form {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #E1E1E1;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

/* 日付のタイトル */
.name-title {
    width: 120px;
}

/* 出勤・退勤・休憩・合計のタイトル */
.email-title {
    width: 335px;
}

/* 詳細のタイトル */
.detail-title {
    width: 100px;
}

/* スタッフ一覧の各日付ごとのフォーム */
.staff-list-row {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #E1E1E1;
    height: 33px;
    margin: 14px 10px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

/* 日付のデータ */
.user-name {
    width: 120px;
    margin-bottom: 10px;
}

/* 出勤・退勤・休憩・合計のデータ */
.email {
    width: 335px;
    text-align: center;
    margin-bottom: 10px;
}

/* 詳細 */
.detail {
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
}

/* 詳細 */
.detail-link {
    color: #000000;
}

/* 勤怠データがある日の詳細リンク */
.detail-link {
    text-decoration: none;
}

/* 最後のスタッフだけアンダーラインを消す */
.staff-list-row.last-staff {
    border-bottom: none !important;
}

/* タブレット（768-850px）対応 */
@media screen and (min-width: 768px) and (max-width: 850px) {
    /* フラッシュメッセージ */
    .alert-success {
        font-size: 13px;
        padding: 6px 17px;
    }

    /* スタッフ一覧〜各スタッフの詳細までの全体のフォーム */
    .staff-list-page {
        margin: 94px auto;
        width: 495px;
    }

    /* | スタッフ一覧のフォーム */
    .staff-list-page-title-form {
        width: 495px;
        height: 20px;
        font-size: 17px;
    }

    /* 「｜」と「スタッフ一覧」のフォーム */
    .staff-list-page-title {
        font-size: 17px;
        padding-left: 7px;
    }

    /* タイトルの「｜」 */
    .staff-list-page-title-form li::before {
        width: 4px;
        height: 22px;
    }

    /* スタッフ一覧 */
    .staff-list-title {
        font-size: 17px;
        padding-top: 2px;
        margin-left: 7px;
    }

    /* 名前・メールアドレス・詳細のフォーム */
    .staff-list-form {
        width: 495px;
        margin-top: 53px;
        font-size: 8px;
        border-radius: 6px;
    }

    /* 勤怠一覧の各タイトル */
    .staff-list-title-form {
        border-bottom: 2px solid #E1E1E1;
        margin: 0 6px;
    }

    /* 名前のタイトルとスタッフ名 */
    .name-title,
    .user-name {
        width: 66px;
    }

    /* メールアドレスのタイトルとスタッフメールアドレス */
    .email-title,
    .email {
        width: 184px;
    }

    /* 月次勤怠と詳細リンク */
    .detail-title,
    .detail {
        width: 55px;
    }

    /* スタッフ名、メールアドレス、詳細を上下中央に揃える */
    .user-name,
    .email,
    .detail {
        margin-bottom: 0;
        margin-top: 13px;
    }

    /* スタッフ一覧の各スタッフごとのフォーム */
    .staff-list-row {
        border-bottom: 2px solid #E1E1E1;
        height: 18px;
        margin: 8px 6px;
    }

}

/* スマホ（767px以下）対応 */
@media screen and (max-width: 767px) {
    /* フラッシュメッセージ */
    .alert-success {
        font-size: 10px;
        padding: 4px 12px;
    }

    /* スタッフ一覧〜各スタッフの詳細までの全体のフォーム */
    .staff-list-page {
        margin: 66px auto;
        width: 356px;
    }

    /* | スタッフ一覧のフォーム */
    .staff-list-page-title-form {
        width: 356px;
        font-size: 13px;
        height: 14px;
    }

    /* 「｜」と「スタッフ一覧」のフォーム */
    .staff-list-page-title {
        font-size: 11px;
        padding-left: 5px;
    }

    /* タイトルの「｜」 */
    .staff-list-page-title-form li::before {
        width: 3px;
        height: 16px;
    }

    /* スタッフ一覧 */
    .staff-list-title {
        font-size: 12px;
        padding-top: 2px;
        margin-left: 5px;
    }

    /* 名前・メールアドレス・詳細のフォーム */
    .staff-list-form {
        width: auto;
        margin-top: 38px;
        font-size: 7px;
        border-radius: 4px;
    }

    /* 名前・メールアドレス・月次勤怠 */
    .staff-list-title-form {
        border-bottom: 2px solid #E1E1E1;
        margin: 0 5px;
    }

    /* 名前、スタッフ名 */
    .name-title,
    .user-name {
        width: 48px;
    }

    /* メールアドレスのタイトル、メールアドレス */
    .email-title,
    .email {
        width: 134px;
    }

    /* 月次勤怠、詳細 */
    .detail-title,
    .detail {
        width: 40px;
    }

    /* スタッフ名、メールアドレス、詳細を上下中央に揃える */
    .user-name,
    .email,
    .detail {
        margin-bottom: 0;
        margin-top: 13px;
    }

    /* スタッフ一覧の各スタッフごとのフォーム */
    .staff-list-row {
        border-bottom: 2px solid #E1E1E1;
        height: 13px;
        margin: 5px 5px;
    }
}